<div class="row d-flex justify-content-center my-4">
    <div class="col-xl-10 col-lg-10 col-sm-12">
        <div class="row">
            <div class="col-10 d-flex align-items-end">
                <p class="text-primary font-monospace fs-7">POSTED ITEMS</p>
            </div>
            <div class="col-2 text-end">
                <a class="btn btn-outline-highlight" 
                   href="{% url 'sample:summernote_create' %}"
                   data-bs-toggle="tooltip"
                   data-bs-placement="left"
                   data-html="false"
                   title="新規作成">
                   <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="border border-primary border-1 p-2">
            {% for model_obj in model_objs %}
            <div class="d-flex flex-row p-2 border-bottom">
                <div class="flex-grow-1 px-2">
                    <a class="btn btn-outline-highlight" 
                       href="{% url 'sample:summernote_detail' pk=model_obj.pk %}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="right"
                       data-html="false"
                       title="詳細を表示する">
                       <i class="beginning-sentence-icon fa-regular fa-eye"></i>post no.{{ model_obj.pk }}
                    </a>
                </div>
                <div class="px-2">
                    <a class="btn btn-outline-highlight" 
                       href="{% url 'sample:summernote_update' pk=model_obj.pk %}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="left"
                       data-html="false"
                       title="編集">
                       <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </div>
                <div class="px-2">
                    <a class="btn btn-outline-highlight" 
                       href="{% url 'sample:summernote_delete' pk=model_obj.pk %}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="right"
                       data-html="false"
                       title="削除">
                       <i class="fa-regular fa-trash-can"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>