{% extends 'pages/general/general_base.html' %}
{% load static %}

{# --- CSS --- #}
{% block general_css_previous %}
{# --- select2 --- #}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-5-theme/1.3.0/select2-bootstrap-5-theme.min.css" integrity="sha512-z/90a5SWiu4MWVelb5+ny7sAayYUfMmdXKEAbpj27PfdkamNdyI3hcjxPxkOPbrXoKIm7r9V2mElt5f1OtVhqA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'templates/common/lib/select2/select2.css' %}" />
{# --- tempusdominus --- #}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.16/dist/css/tempus-dominus.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'templates/common/lib/tempus-dominus/tempus-dominus.css' %}" />
{% endblock %}

{# --- SCRIPT previous --- #}
{% block general_js_previous %}
{# --- Custom script for radio-check-control --- #}
<script src="{% static 'templates/common/func/radio-check-control/check-all-control.js' %}"></script>
{# --- tempusdominus --- #}
<script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.16/dist/js/tempus-dominus.min.js" crossorigin="anonymous"></script>
{# --- Custom script for on-click-disable --- #}
<script src="{% static 'templates/common/func/on-click-disable/submit-form.js' %}"></script>
{% endblock %}

{# --- SCRIPT rear --- #}
{% block general_js_rear %}
{# --- select2 --- #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js" integrity="sha512-RtZU3AyMVArmHLiW0suEZ9McadTdegwbgtiQl5Qqo9kunkVg1ofwueXD8/8wv3Af8jkME3DDe3yLfR8HSJfT2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'templates/common/lib/select2/select2.js' %}"></script>
{% endblock %}

{# --- CONTENT --- #}
{% block general_content %}
{# --- form が送信されたら結果を表示 --- #}
{% if posted_display %}
<div class="row d-flex justify-content-center mb-4">
    <div class="col-xl-10 col-lg-10 col-sm-12">
        <p class="text-primary font-monospace fs-7">POSTED VALUES</p>
        <div class="border border-primary border-1 p-2">
            <p class="font-monospace fs-7">single_checkbox_form:</p>
            <p class="text-success font-monospace fs-7">{{ posted_single_checkbox_form }}</p>
            <p class="font-monospace fs-7 pt-1">multiple_checkbox_select_form:</p>
            <p class="text-success font-monospace fs-7">{{ posted_multiple_checkbox_select_form }}</p>
            <p class="font-monospace fs-7 pt-1">single_select_form:</p>
            <p class="text-success font-monospace fs-7">{{ posted_single_select_form }}</p>
            <p class="font-monospace fs-7 pt-1">multiple_select_form:</p>
            <p class="text-success font-monospace fs-7">{{ posted_multiple_select_form }}</p>
            <p class="font-monospace fs-7 pt-1">date_form:</p>
            <p class="text-success font-monospace fs-7">{{ posted_date_form }}</p>
            <p class="font-monospace fs-7 pt-1">time_form:</p>
            <p class="text-success font-monospace fs-7">{{ posted_time_form }}</p>
            <p class="font-monospace fs-7 pt-1">date_time_form:</p>
            <p class="text-success font-monospace fs-7">{{ posted_date_time_form }}</p>
        </div>
    </div>
</div>
{% endif %}
<div class="row mx-auto">
    <div class="col-lg-9 col-md-12 mx-auto">
        <div class="row pb-3">
            <h1 class="f-content-title">動作確認用サンプルフォーム</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                {# --- SINGLE CHECK TYPE --- #}
                <div class="row d-flex justify-content-center pt-2">
                    <div class="col-xl-6 col-lg-10 col-sm-12 border border-2 p-2">
                        <div class="form-check form-switch">
                            <input type="{{ form.single_checkbox_form.field.widget.input_type }}"
                                   class="form-check-input form-control {% if form.single_checkbox_form.errors %}is-invalid{% endif %}"
                                   role="switch"
                                   name="{{ form.single_checkbox_form.html_name }}"
                                   id="{{ form.single_checkbox_form.id_for_label }}"
                                   {% if form.single_checkbox_form.field.required %}required{% endif %} />
                            <label class="form-check-label"
                                   for="{{ form.single_checkbox_form.id_for_label }}">
                               {{ form.single_checkbox_form.label }}
                           </label>
                        </div>
                        {% if form.single_checkbox_form.errors %}
                            {% for error in form.single_checkbox_form.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {% if form.single_checkbox_form.help_text %}
                            <div class="form-text">
                                {{ form.single_checkbox_form.help_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {# --- MULTIPLE CHECK TYPE --- #}
                <div class="row d-flex justify-content-center pt-4">
                    <div class="col-xl-6 col-lg-10 col-sm-12 border border-2 p-2">
                        <label for="{{ form.multiple_checkbox_select_form.id_for_label }}"
                               class="form-check-label">
                               {{ form.multiple_checkbox_select_form.label }}
                        </label>
                        <button type="button"
                                class="btn btn-sm btn-primary"
                                id="check-all-control-btn">
                                all check or clear
                        </button>
                        {% for choice in form.multiple_checkbox_select_form.field.choices %}
                            {% if choice.1 %}
                                <div class="form-check form-switch">
                                    <label class="form-check-label"
                                           for="id_{{ question.html_name }}_{{ forloop.counter0 }}">
                                        <input type="{{ form.multiple_checkbox_select_form.field.widget.input_type }}"
                                               class="form-check-input check-all-control form-control {% if form.multiple_checkbox_select_form.errors %}is-invalid{% endif %}"
                                               role="switch"
                                               name="{{ form.multiple_checkbox_select_form.html_name }}"
                                               id="id_{{ question.html_name }}_{{ forloop.counter0 }}"
                                               value="{{ choice.0 }}"
                                               {% if form.multiple_checkbox_select_form.field.required %}required{% endif %} />
                                        {{ choice.1 }}
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if form.multiple_checkbox_select_form.errors %}
                            {% for error in form.multiple_checkbox_select_form.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {% if form.multiple_checkbox_select_form.help_text %}
                            <div class="form-text">
                                {{ form.multiple_checkbox_select_form.help_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {# --- SINGLE SELECT TYPE --- #}
                <div class="row d-flex justify-content-center pt-4">
                    <div class="col-xl-6 col-lg-10 col-sm-12 border border-2 p-2">
                        <label for="{{ form.single_select_form.id_for_label }}"
                               class="form-label">
                               {{ form.single_select_form.label }}
                        </label>
                        <select type="{{ form.single_select_form.field.widget.input_type }}"
                                class="form-select form-select-sm form-control {% if form.single_select_form.errors %}is-invalid{% endif %}"
                                name="{{ form.single_select_form.html_name }}"
                                id="{{ form.single_select_form.id_for_label }}"
                                data-placeholder="Choose one thing"
                                data-allow-clear="true"
                                {% if form.single_select_form.field.required %}required{% endif %}>
                            <option></option>
                            {% for choice in form.single_select_form.field.choices %}
                                {% if choice.1 %}
                                    <option value="{{ choice.0 }}">
                                        {{ choice.1 }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% if form.single_select_form.errors %}
                            {% for error in form.single_select_form.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {% if form.single_select_form.help_text %}
                            <div class="form-text">
                                {{ form.single_select_form.help_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {# --- MULTIPLE SELECT TYPE --- #}
                <div class="row d-flex justify-content-center pt-4">
                    <div class="col-xl-6 col-lg-10 col-sm-12 border border-2 p-2">
                        <label for="{{ form.multiple_select_form.id_for_label }}"
                               class="form-label">
                               {{ form.multiple_select_form.label }}
                        </label>
                        <select type="{{ form.multiple_select_form.field.widget.input_type }}"
                                class="form-select form-select-sm form-control {% if form.multiple_select_form.errors %}is-invalid{% endif %}"
                                name="{{ form.multiple_select_form.html_name }}"
                                id="{{ form.multiple_select_form.id_for_label }}"
                                data-placeholder="Choose anything"
                                data-allow-clear="false"
                                {% if form.multiple_select_form.field.required %}required{% endif %}
                                multiple >
                            <option></option>
                            {% for choice in form.multiple_select_form.field.choices %}
                                {% if choice.1 %}
                                    <option value="{{ choice.0 }}">
                                        {{ choice.1 }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% if form.multiple_select_form.errors %}
                            {% for error in form.multiple_select_form.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {% if form.multiple_select_form.help_text %}
                            <div class="form-text">
                                {{ form.multiple_select_form.help_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {# --- DATE TYPE --- #}
                <div class="row d-flex justify-content-center pt-2">
                    <div class="col-xl-6 col-lg-10 col-sm-12 border border-2 p-2">
                        <label class="form-label"
                                for="{{ form.date_form.id_for_label }}">
                            {{ form.date_form.label }}
                        </label>
                        <input type="{{ form.date_form.field.widget.input_type }}"
                               class="form-control {% if form.date_form.errors %}is-invalid{% endif %}"
                               name="{{ form.date_form.html_name }}"
                               id="{{ form.date_form.id_for_label }}"
                               placeholder="日付"
                               {% if form.date_form.field.required %}required{% endif %} />
                        {# --- tempus-dominus 日付 --- #}
                        {% with DataPickerId=form.date_form.id_for_label %}
                            {% include 'common/asset/tempus-dominus/tempus-dominus.html' with DatetimepickerType='Date' %}
                        {% endwith %}
                        {% if form.date_form.errors %}
                            {% for error in form.date_form.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {% if form.date_form.help_text %}
                            <div class="form-text">
                                {{ form.date_form.help_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {# --- TIME TYPE --- #}
                <div class="row d-flex justify-content-center pt-2">
                    <div class="col-xl-6 col-lg-10 col-sm-12 border border-2 p-2">
                        <label class="form-label"
                                for="{{ form.time_form.id_for_label }}">
                            {{ form.time_form.label }}
                        </label>
                        <input type="{{ form.time_form.field.widget.input_type }}"
                               class="form-control {% if form.time_form.errors %}is-invalid{% endif %}"
                               name="{{ form.time_form.html_name }}"
                               id="{{ form.time_form.id_for_label }}"
                               placeholder="時刻"
                               {% if form.time_form.field.required %}required{% endif %} />
                        {# --- tempus-dominus 時刻 --- #}
                        {% with DataPickerId=form.time_form.id_for_label %}
                            {% include 'common/asset/tempus-dominus/tempus-dominus.html' with DatetimepickerType='Time' %}
                        {% endwith %}
                        {% if form.time_form.errors %}
                            {% for error in form.time_form.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {% if form.time_form.help_text %}
                            <div class="form-text">
                                {{ form.time_form.help_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {# --- DATETIME TYPE --- #}
                <div class="row d-flex justify-content-center pt-2">
                    <div class="col-xl-6 col-lg-10 col-sm-12 border border-2 p-2">
                        <label class="form-label"
                                for="{{ form.date_time_form.id_for_label }}">
                            {{ form.date_time_form.label }}
                        </label>
                        <input type="{{ form.date_time_form.field.widget.input_type }}"
                               class="form-control {% if form.date_time_form.errors %}is-invalid{% endif %}"
                               name="{{ form.date_time_form.html_name }}"
                               id="{{ form.date_time_form.id_for_label }}"
                               placeholder="日時"
                               {% if form.date_time_form.field.required %}required{% endif %} />
                        {# --- tempus-dominus 日時 --- #}
                        {% with DataPickerId=form.date_time_form.id_for_label %}
                            {% include 'common/asset/tempus-dominus/tempus-dominus.html' with DatetimepickerType='DateTime' %}
                        {% endwith %}
                        {% if form.date_time_form.errors %}
                            {% for error in form.date_time_form.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {% if form.date_time_form.help_text %}
                            <div class="form-text">
                                {{ form.date_time_form.help_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-10 col-sm-12 mt-4">
                        <button id="submit" type="submit" class="btn btn-primary on-click-disable w-100">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}