{% extends 'pages/general/general_base.html' %}

{# --- CONTENT --- #}
{% block general_content %}
<h1 class="f-content-title">scloll spy 動作確認用ページ</h1>
<div class="row">
    {# --- OrderRevers md or less ---#}
    <div class="order-lg-1 order-2 col-lg-10 col-sm-12 mb-4">
        <h2 class="fs-5 fw-7 lh-1 pt-4">Title1</h2>
        <a name="Content1"></a> {# --- ScrollSpyName --- #}
        <div id="Content1">     {# --- ScrollSpyName --- #}
            <h3 class="fs-5 fw-4 lh-1 pt-2">Content1</h3>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
        </div>
        <a name="Content2"></a> {# --- ScrollSpyName --- #}
        <div id="Content2">     {# --- ScrollSpyName --- #}
            <h3 class="fs-5 fw-4 lh-1 pt-2">Content2</h3>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
        </div>
        <div id="Content3">         {# --- ScrollSpyName --- #}
            <a name="Content3"></a> {# --- ScrollSpyName --- #}
            <h3 class="fs-5 fw-4 lh-1 pt-2">Content3</h3>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
        </div>
        
        <h2 class="fs-5 fw-7 lh-1 pt-4">Title2</h2>
        <a name="Content4"></a> {# --- ScrollSpyName --- #}
        <div id="Content4">     {# --- ScrollSpyName --- #}
            <h3 class="fs-5 fw-4 lh-1 pt-2">Content4</h3>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
        </div>
        <a name="Content5"></a> {# --- ScrollSpyName --- #}
        <div id="Content5">     {# --- ScrollSpyName --- #}
            <h3 class="fs-5 fw-4 lh-1 pt-2">Content5</h3>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
        </div>
        <a name="Content6"></a> {# --- ScrollSpyName --- #}
        <div id="Content6">     {# --- ScrollSpyName --- #}
            <h3 class="fs-5 fw-4 lh-1 pt-2">Content6</h3>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
        </div>

        <h2 class="fs-5 fw-7 lh-1 pt-4">Title3</h2>
        <a name="Content7"></a> {# --- ScrollSpyName --- #}
        <div id="Content7">     {# --- ScrollSpyName --- #}
            <h3 class="fs-5 fw-4 lh-1 pt-2">Content7</h3>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
        </div>
        <a name="Content8"></a> {# --- ScrollSpyName --- #}
        <div id="Content8">     {# --- ScrollSpyName --- #}
            <h3 class="fs-5 fw-4 lh-1 pt-2">Content8</h3>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
            <p class="fs-5 fw-3 lh-1">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
        </div>
    </div>
    {# --- OrderRevers md or less ---#}
    <div class="order-lg-2 order-1 col-lg-2 col-sm-12">
        {# --- Displayed md or less --- #}
        <div class="d-lg-none scroll-spy-nav-title py-3">目次</div>
        {# --- ScrollSpyNav --- #}
        <div class="scroll-spy-nav" id="{{ ScrollSpyDataTargetID }}">
            <div class="list-group list-group-flush" id="ScrollSpyNav">
                <p class="list-group-item">Title1</p>
                <a class="list-group-item list-group-item-action active" href="#Content1">Content1</a>
                <a class="list-group-item list-group-item-action" href="#Content2">Content2</a>
                <a class="list-group-item list-group-item-action" href="#Content3">Content3</a>
                <p class="list-group-item">Title2</p>
                <a class="list-group-item list-group-item-action" href="#Content4">Content4</a>
                <a class="list-group-item list-group-item-action" href="#Content5">Content5</a>
                <a class="list-group-item list-group-item-action" href="#Content6">Content6</a>
                <p class="list-group-item">Title3</p>
                <a class="list-group-item list-group-item-action" href="#Content7">Content7</a>
                <a class="list-group-item list-group-item-action" href="#Content8">Content8</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}