{% extends 'pages/general/general_base.html' %}
{% load static %}

{# --- CSS --- #}
{% block general_css_previous %}
{# --- summernote --- #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" integrity="sha512-ZbehZMIlGA8CTIOtdE+M81uj3mrcgyrh6ZFeG33A4FHECakGrOsTPlPQ8ijjLkxgImrdmSVUHn1j+ApjodYZow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'templates/common/lib/summernote/summernote.css' %}" />
{# --- codemirror --- #}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
{% endblock %}

{# --- SCRIPT previous --- #}
{% block general_js_previous %}
{# --- summernote --- #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js" integrity="sha512-lVkQNgKabKsM1DA/qbhJRFQU8TuwkLF2vSN3iU/c7+iayKs08Y8GXqfFxxTZr1IcpMovXnf2N/ZZoMgmZep1YQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-ja-JP.min.js" integrity="sha512-hpUqToD3dE5r5L85PTHtgEJCOjWhYUoFoih5BQLcwU9yfqb4K8cFTgj7Prd28oRGAGmFR/FqJoePYM/vnKz/0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'templates/common/lib/summernote/load_emoji.js' %}"></script>
{# --- codemirror --- #}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>
{# --- Custom script for tooltip --- #}
<script src="{% static 'templates/common/func/tooltip/tooltip.js' %}"></script>
{# --- Custom script for on-click-disable --- #}
<script src="{% static 'templates/common/func/on-click-disable/submit-form.js' %}"></script>
{% endblock %}

{# --- CONTENT --- #}
{% block general_content %}
<div class="row mx-auto">
    <div class="col-lg-10 col-md-12 mx-auto">
        <div class="row pb-3">
            <h1 class="f-content-title">sumernote 動作確認用サンプルフォーム</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                {# --- SUMMERNOTE FORM --- #}
                <div class="row d-flex justify-content-center pt-2">
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                        <div class="SummernoteTextArea">
                            <textarea class="form-control {% if form.post_text.errors %}is-invalid{% endif %}"
                                    id="{{ form.post_text.id_for_label }}"
                                    name="{{ form.post_text.html_name }}"
                                    hidden="true">{% if decoded_text %}{{ decoded_text }}{% endif %}</textarea>
                            {% if form.post_text.errors %}
                                {% for error in form.post_text.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                            {% with SummerNoteFormId=form.post_text.id_for_label placeholder=None summernote_height=None MENTIONS_LIST=MENTIONS_LIST %}
                                {% include 'common/asset/summernote/summernote.html' %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-nowrap justify-content-between">
                    <div class="text-left flex-grow-1">
                        {% if form.post_text.help_text %}
                        <div class="form-text">
                            {{ form.post_text.help_text | safe }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="text-right mt-4">
                        <button id="submit" type="submit" class="btn btn-primary on-click-disable">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{# --- 登録したPOST一覧 --- #}
{% with model_objs=sample_summernote_post_model %}
    {% include 'sample/summernote_form/posted_items/posted_items.html' %}
{% endwith %}
{% endblock %}